.logon-container {
  position: absolute;
  width: 375px;
  height: 812px;
  left: 0px;
  top: 0px;
  background-image: url("../../assets/img/fantastico-poster-web\ 1.jpg");
  background: #272727;
}

h3 {
  color: #465189;
}

.form {
  background-image: url("../../assets/img/fantastico-poster-web\ 1.jpg");
  background-attachment: fixed;
}

.logoGlobo {
  position: absolute;
  margin: 130px 88px 0px 88px;
}

.logoGloboMais {
  position: absolute;
  margin: 328px 94px 0px;
}
button {
  margin-left: 30px;
  margin-right: 30px;
  width: 315px;
  height: 57px;
  border-radius: 10px;
}

button #btnEmail {
  padding: 26px;
  position: absolute;
  margin: 525px 30px 0px;
}

button #btnFace {
  position: absolute;
  margin: 608px 30px 0px;
}
